.card {
  width: 100%;
  margin: 6px 0;
  display: flex;
  align-items: center;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  border-radius: 6px;

  .name {
    width: 131px;
    flex-shrink: 0;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    h1 {
      margin: 0;
      font-family: Helvetica;
      font-size: 17px;
      color: #323c47;
      letter-spacing: -0.19px;
      font-weight: normal;
    }
    h2 {
      line-height: 28px;
      margin: 0px;
      font-family: Helvetica;
      font-size: 11px;
      color: rgba(50, 60, 71, 0.5);
      letter-spacing: 0.2px;
    }
    h3 {
      margin: 8px 0 0 0;
      font-family: Helvetica;
      font-size: 13px;
      color: rgba(50, 60, 71, 0.61);
      letter-spacing: -0.1px;
    }
  }
  .article {
    align-items: center;
    margin-right: 29px;
    h1 {
      margin: 10px 0 10px 0;
      font-family: Roboto;
      font-size: 17px;
      font-weight: 500;
      color: #323c47;
      letter-spacing: 0;
    }
    h2 {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      color: rgba(50, 60, 71, 0.7);
      letter-spacing: 0;
    }
  }
  .tags {
    width: 180px;
    flex-shrink: 0;
    margin-left: auto;
    .tag {
      margin: 3px;
      padding: 4px 12px;
      background: #f4f8f9;
      border-radius: 3px;
      border-radius: 3px;
    }
    label {
      font-family: Roboto;
      font-size: 11px;
      color: rgba(50, 60, 71, 0.7);
      letter-spacing: 0;
      text-align: justify;
    }
  }

  .button-delete {
    margin-left: 122px;
    margin-right: 18px;
  }

  .button-read {
    width: 112px;
    height: 30px;
    flex-shrink: 0;
    border-width: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background: #4da1ff;
    border-radius: 3px;
    text-transform: none;
    font-family: Roboto;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
  }

  .button-read:hover {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
  }

  .mark-unread {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    align-self: baseline;
    border-radius: 4px;
    background-image: linear-gradient(-180deg, #ff7878 0%, #ff4f4f 100%);
  }
  .mark-read {
    width: 18px;
    height: 8px;
    flex-shrink: 0;
  }
}
