.article-card {
  width: 304px;
  margin: 6px 30px 72px 0;
  align-items: center;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  border-radius: 6px;

  .photo {
    float: left;
  }
  .name {
    width: 131px;
    flex-shrink: 0;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    h1 {
      margin: 0;
      font-family: Helvetica;
      font-size: 17px;
      color: #323c47;
      letter-spacing: -0.19px;
      font-weight: normal;
    }
    h2 {
      margin: 5px 0;
      font-family: Helvetica;
      font-size: 11px;
      color: rgba(50, 60, 71, 0.5);
      letter-spacing: 0.2px;
    }
    h3 {
      margin: 10px 0 0 0;
      font-family: Helvetica;
      font-size: 13px;
      color: rgba(50, 60, 71, 0.61);
      letter-spacing: -0.1px;
    }
  }
  .article {
    align-items: center;
    h1 {
      margin: 24px 0 12px 0;
      // font-weight: normal;
      font-family: Roboto;
      font-size: 17px;
      color: #323c47;
      letter-spacing: 0;
    }
    h2 {
      font-family: Roboto;
      font-size: 14px;
      color: rgba(50, 60, 71, 0.7);
      letter-spacing: 0;
    }
  }
  .mark-unread {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    align-self: baseline;
    float: right;
    border-radius: 4px;
    background-image: linear-gradient(-180deg, #ff7878 0%, #ff4f4f 100%);
  }
}
